<!-- FOOTER -->

<style>
  
  .footer {

	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	position:relative;
    bottom:0;
    width:100%;
    height:60px;
    background:#fff;

  }

</style>

<!-- <footer class="container"> -->

<hr width="100%"></hr>

<div id="footer" class="footer">

        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; 
        <a href="{% url 'home' %}">Home</a> &middot; 
        <a href="{% url 'blog' %}">Blog</a> &middot; 
		<a href="{% url 'dashboard' %}">Dashboard</a> &middot; 
		<a href="{% url 'learnmore' %}">Learn More</a> &middot; 
		<a href="{% url 'signin' %}">Sign in</a> &middot; 
		<a href="{% url 'contact' %}">Contact us</a>
        </p>

</div>
<!-- </footer> -->