<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/base_style.css' %} " rel="stylesheet">

  </head>

<body>

 <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <!-- <a class="navbar-left" href=#><img src="{% static 'images/mh_logo.png'%}" style="max-width:100px; vertical-align: center;" alt="Responsive image"></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
          </ul>
            <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="{% url 'signin' %}">Sign In</a>
        </div>
      </nav>
</header>

{% block content %}

{% endblock %}

<hr id="footer-hr">

{% include "mh_app/footer.html" %}
      
<!-- Bootstrap core JavaScript
================================================== -->
<script src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>


</body>
</html>




